<a href='http://moncoachdata.com'><img src= 'https://moncoachdata.com/wp-content/uploads/MonCoachData-cours/MonCoachData.jpg' width=400/></a>


---


<center><em>Copyright MonCoachData (tous droits réservés)</em></center>
<center><em>Pour plus d'informations, visitez notre site <a href='http://moncoachdata.com'>moncoachdata.com</a></em></center>



---

# Groupby

La méthode groupby vous permet de regrouper des lignes de données et d'appeler des fonctions agrégées

In [ ]:
import pandas as pd

In [ ]:
# Nous aborderons la lecture des données de manière beaucoup plus détaillée lors d'une session ultérieure !
df = pd.read_csv('/content/Universities.csv')

In [ ]:
# Afficher les N premières lignes (N=5 par défaut)
df.head()

                                 Sector  ... Geography
0            Private for-profit, 2-year  ...    Nevada
1  Private for-profit, less-than 2-year  ...    Nevada
2  Private for-profit, less-than 2-year  ...    Nevada
3  Private for-profit, less-than 2-year  ...    Nevada
4               Public, 4-year or above  ...    Nevada

[5 rows x 5 columns]

Vous pouvez maintenant utiliser la méthode .groupby() pour regrouper des lignes à partir d'une colonne **catégorielle**. Cette colonne sera ensuite réaffectée pour constituer l'index.

Notez que nous avons 2 étapes :

1. Choisissez une colonne catégorielle à regrouper
2. Choisissez votre fonction d'agrégation. Rappelez-vous qu'une fonction d'agrégation doit prendre plusieurs valeurs et retourner une seule valeur (par exemple max,min, mean, std, etc...)

In [ ]:
# L'étape 1 retourne simplement un objet spécial groupby en attentant qu'on appele une méthode d'agrégation
df.groupby("Year")

In [ ]:
df.groupby('Year').mean()

      Completions
Year
2012   535.078947
2013   526.150000
2014   588.809524
2015   597.250000
2016   609.860465

In [ ]:
type(df.groupby('Year').mean())

pandas.core.frame.DataFrame

In [ ]:
df.groupby('Year').mean().sort_index(ascending=False)

      Completions
Year
2016   609.860465
2015   597.250000
2014   588.809524
2013   526.150000
2012   535.078947

-----
## Autres fonctions d'agrégation

<table><td><tt
><span
>count</span></tt></td><td>Nombre d'observations non null</td></tr><tr
><td><tt
><span
>sum</span></tt></td><td>Somme des valeurs</td></tr><tr
><td><tt
><span
>mean</span></tt></td><td>Moyenne des valeurs</td></tr><tr
><td><tt
><span
>mad</span></tt></td><td>Écart moyen absolu</td></tr><tr
><td><tt
><span
>median</span></tt></td><td>Médiane arithmétique des valeurs</td></tr><tr
><td><tt
><span
>min</span></tt></td><td>Minimum</td></tr><tr
><td><tt
><span
>max</span></tt></td><td>Maximum</td></tr><tr
><td><tt
><span
>mode</span></tt></td><td>Mode</td></tr><tr
><td><tt
><span
>abs</span></tt></td><td>Valeur absolue</td></tr><tr
><td><tt
><span
>prod</span></tt></td><td>Produit des valeurs</td></tr><tr
><td><tt
><span
>std</span></tt></td><td>Écart type non biaisé</td></tr><tr
><td><tt
><span
>var</span></tt></td><td>Variance non biaisée</td></tr><tr
><td><tt
><span
>sem</span></tt></td><td>Erreur standard de la moyenne non biaisée</td></tr><tr
><td><tt
><span
>skew</span></tt></td><td>Asymétrie non biaisée (3e moment)</td></tr><tr
><td><tt
><span
>kurt</span></tt></td><td>Kurtosis non biaisé (4ème moment)</td></tr><tr
><td><tt
><span
>quantile</span></tt></td><td>Quantile de l'échantillon (valeur en %)</td></tr><tr
><td><tt
><span
>cumsum</span></tt></td><td>Somme cumulative</td></tr><tr
><td><tt
><span
>cumprod</span></tt></td><td>Produit cumulé</td></tr><tr
><td><tt
><span
>cummax</span></tt></td><td>Maximum cumulé</td></tr><tr
><td><tt
><span
>cummin</span></tt></td><td>Minimum cumulé</td></tr></tbody></table>

----

## Regroupement par plusieurs colonnes

In [ ]:
df.head()

                                 Sector  ... Geography
0            Private for-profit, 2-year  ...    Nevada
1  Private for-profit, less-than 2-year  ...    Nevada
2  Private for-profit, less-than 2-year  ...    Nevada
3  Private for-profit, less-than 2-year  ...    Nevada
4               Public, 4-year or above  ...    Nevada

[5 rows x 5 columns]

In [ ]:
df.groupby(['Year','Sector']).mean()

                                              Completions
Year Sector
2012 Private for-profit, 2-year                204.800000
     Private for-profit, 4-year or above       158.000000
     Private for-profit, less-than 2-year      189.571429
     Private not-for-profit, 2-year            332.500000
     Private not-for-profit, 4-year or above   353.000000
     Public, 2-year                           1170.000000
     Public, 4-year or above                  2068.000000
2013 Private for-profit, 2-year                190.812500
     Private for-profit, 4-year or above       155.000000
     Private for-profit, less-than 2-year      183.000000
     Private not-for-profit, 2-year            235.500000
     Private not-for-profit, 4-year or above   338.666667
     Public, 2-year                           1633.000000
     Public, 4-year or above                  2136.166667
2014 Private for-profit, 2-year                184.812500
     Private for-profit, 4-year or above       251.000000
     Private for-profit, less-than 2-year      166.000000
     Private not-for-profit, 2-year            224.500000
     Private not-for-profit, 4-year or above   347.333333
     Public, 2-year                           2286.000000
     Public, 4-year or above                  2527.000000
2015 Private for-profit, 2-year                205.000000
     Private for-profit, 4-year or above       163.250000
     Private for-profit, less-than 2-year      203.625000
     Private not-for-profit, 2-year            212.500000
     Private not-for-profit, 4-year or above   409.333333
     Public, 2-year                           2355.000000
     Public, 4-year or above                  2676.000000
2016 Private for-profit, 2-year                205.375000
     Private for-profit, 4-year or above       124.666667
     Private for-profit, less-than 2-year      194.000000
     Private not-for-profit, 2-year            161.000000
     Private not-for-profit, 4-year or above   302.000000
     Public, 2-year                           2431.000000
     Public, 4-year or above                  2779.500000

In [ ]:
df.groupby('Year').describe()

     Completions
           count        mean          std   min     25%    50%     75%     max
Year
2012        38.0  535.078947  1036.433239  13.0  114.25  229.5  420.50  5388.0
2013        40.0  526.150000  1040.474782   0.0   98.50  189.0  413.00  5278.0
2014        42.0  588.809524  1150.355857   0.0  104.50  203.5  371.75  5093.0
2015        44.0  597.250000  1183.371791   0.0   87.75  191.0  405.75  5335.0
2016        43.0  609.860465  1235.952796   0.0   90.00  208.0  414.00  5367.0

In [ ]:
df.groupby('Year').describe().transpose()

Year                      2012         2013  ...         2015         2016
Completions count    38.000000    40.000000  ...    44.000000    43.000000
            mean    535.078947   526.150000  ...   597.250000   609.860465
            std    1036.433239  1040.474782  ...  1183.371791  1235.952796
            min      13.000000     0.000000  ...     0.000000     0.000000
            25%     114.250000    98.500000  ...    87.750000    90.000000
            50%     229.500000   189.000000  ...   191.000000   208.000000
            75%     420.500000   413.000000  ...   405.750000   414.000000
            max    5388.000000  5278.000000  ...  5335.000000  5367.000000

[8 rows x 5 columns]